@import url("https://fonts.googleapis.com/css?family=Kavivanar");

body{
    background-color: #17853D;
}

p{
font-family: 'Kavivanar', cursive;
}

h1{
    border-style: solid;
    border-radius: 25px;
    border-color: #0B401D;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B401D; 
}

nav li {
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover{
    color: #28E569;
}

.active {
    background-color: #136E32;
}


section {
    display: flex;
}

aside {
    flex: 1;
}
article{
    flex: 4;
}1